<div class="container">
  <div class="header">
    <h1 class="welcome">Welcome to Kendo UI for Angular</h1>
    <h2 class="sub-header">Focus on the core of your application and spend less time sweating over the UI</h2>
  </div>

  <div class="section-title">
    <h1 class="get-started">Get Started</h1>
  </div>

  <div class="content-wrapper">
    <div class="image-block">
      <img class="kendoka" alt="Kendo UI for Angular Logo" src="../assets/img/kendoka.png">
    </div>
    <div class="components-list">
      <p>
        <img src="../assets/img/components.png" alt="components" />
        <a href="https://www.telerik.com/kendo-angular-ui/components/">Components</a>
      </p>
      <p>
        <img src="../assets/img/blogs.png" alt="blogs" />
        <a href="https://www.telerik.com/blogs/tag/kendo-ui-for-angular/">Blog Posts</a>
      </p>
      <p>
        <img src="../assets/img/git.png" alt="git" />
        <a href="https://github.com/DamienK-PRGS/KendoAngularAppPug">Repo</a>
      </p>
    </div>
  </div>
</div>
